---
import { BaseLayout } from '../../layouts';
import { Input } from '../../components/input';
import { Button } from '$components/button';
import { Captcha } from '$components/captcha';
import { Container } from '$components/container';
import { FormControls, FormControl, FormLabel } from '$components/form-control';

const volunteerFormAction = import.meta.env.PUBLIC_VOLUNTEER_FORM_ACTION;
const turnstileSiteKey = import.meta.env.PUBLIC_TURNSTILE_SITE_KEY;
const volunteerFormRedirectUrl = `${Astro.url.origin}/volunteer/thank-you`;
---

<BaseLayout title='Volunteer'>
  <section class='py-8 md:py-16'>
    <Container>
      <div class='grid gap-8'>
        <h1 class='text-center'>Volunteer</h1>

        <div class='flex flex-col justify-center gap-8'>
          <div class='max-w-sm w-full mx-auto'>
            <form method='POST' action={volunteerFormAction}>
              <input
                type='hidden'
                name='_redirect'
                value={volunteerFormRedirectUrl}
              />

              <div class='grid gap-6'>
                <FormControls>
                  <FormControl>
                    <FormLabel>Name</FormLabel>
                    <Input name='name' type='text' />
                  </FormControl>

                  <FormControl>
                    <FormLabel>Email</FormLabel>
                    <Input name='email' type='email' />
                  </FormControl>

                  <FormControl>
                    <FormLabel optional>Mobile Phone</FormLabel>
                    <Input name='phone' type='text' optional />
                  </FormControl>

                  <FormControl>
                    <FormLabel>
                      Which volunteer option(s) works for you?
                    </FormLabel>

                    <div class='grid gap-3'>
                      <div class='flex items-center gap-2'>
                        <input
                          id='canvasser'
                          type='checkbox'
                          name='volunteer_interests'
                          value='Canvasser'
                        />
                        <label for='canvasser'>Canvasser (Knock on Doors)</label
                        >
                      </div>

                      <div class='flex items-center gap-2'>
                        <input
                          id='event-setup-cleanup'
                          type='checkbox'
                          name='volunteer_interests'
                          value='Event Setup/Cleanup'
                        />
                        <label for='event-setup-cleanup'
                          >Event Setup / Clean Up</label
                        >
                      </div>

                      <div class='flex items-center gap-2'>
                        <input
                          id='host-event'
                          type='checkbox'
                          name='volunteer_interests'
                          value='Host Event'
                        />
                        <label for='host-event'>Host an Event</label>
                      </div>

                      <div class='flex items-center gap-2'>
                        <input
                          id='phone-caller'
                          type='checkbox'
                          name='volunteer_interests'
                          value='Phone Caller'
                        />
                        <label for='phone-caller'>Phone Caller</label>
                      </div>

                      <div class='flex items-center gap-2'>
                        <input
                          id='poll-coordinator'
                          type='checkbox'
                          name='volunteer_interests'
                          value='Poll Coordinator'
                        />
                        <label for='poll-coordinator'>Poll Coordinator</label>
                      </div>

                      <div class='flex items-center gap-2'>
                        <input
                          id='poll-driver'
                          type='checkbox'
                          name='volunteer_interests'
                          value='Poll Driver'
                        />
                        <label for='poll-driver'>Poll Driver</label>
                      </div>

                      <div class='flex items-center gap-2'>
                        <input
                          id='sign-distributor'
                          type='checkbox'
                          name='volunteer_interests'
                          value='Sign Distributor'
                        />
                        <label for='sign-distributor'>Sign Distributor</label>
                      </div>

                      <div class='flex items-center gap-2'>
                        <input
                          id='voter-registration'
                          type='checkbox'
                          name='volunteer_interests'
                          value='Voter Registration'
                        />
                        <label for='voter-registration'
                          >Voter Registration</label
                        >
                      </div>
                    </div>
                  </FormControl>
                </FormControls>

                <Captcha siteKey={turnstileSiteKey} client:load />

                <Button type='submit'>Join Our Team</Button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </Container>
  </section>
</BaseLayout>

<script>
  const handleSubmit = (form: HTMLFormElement) => {
    form.submitButton.disabled = true;
    return false;
  };
</script>
