---
import { BaseLayout } from '../../layouts';
import { Input } from '../../components/input';
import { TextArea } from '../../components/text-area';
import { Container } from '$components/container';
import { FormControl, FormControls, FormLabel } from '$components/form-control';
import { Captcha } from '$components/captcha';
import { Button } from '$components/button';

const contactFormAction = import.meta.env.PUBLIC_CONTACT_FORM_ACTION;
const turnstileSiteKey = import.meta.env.PUBLIC_TURNSTILE_SITE_KEY;
const contactFormRedirectUrl = `${Astro.url.origin}/contact/thank-you`;
---

<BaseLayout title='Contact'>
  <section class='py-8 md:py-16'>
    <Container>
      <div class='grid gap-8'>
        <h1 class='text-center'>Get In Contact</h1>

        <div class='flex flex-col justify-center gap-8'>
          <div class='max-w-sm w-full mx-auto'>
            <form method='POST' action={contactFormAction}>
              <input
                type='hidden'
                name='_redirect'
                value={contactFormRedirectUrl}
              />

              <div class='grid gap-6'>
                <FormControls>
                  <FormControl>
                    <FormLabel>Name</FormLabel>
                    <Input name='name' type='text' />
                  </FormControl>

                  <FormControl>
                    <FormLabel>Email</FormLabel>
                    <Input name='email' type='email' />
                  </FormControl>

                  <FormControl>
                    <FormLabel optional>Phone</FormLabel>
                    <Input name='phone' type='text' optional />
                  </FormControl>

                  <FormControl>
                    <FormLabel>Message</FormLabel>
                    <TextArea name='message' />
                  </FormControl>
                </FormControls>

                <Captcha siteKey={turnstileSiteKey} client:load />

                <Button type='submit'>Send Message</Button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </Container>
  </section>
</BaseLayout>
