---
import { Image } from '@astrojs/image/components';
import { Button, Container, Text } from '../components';
import { HomeHeroImage } from '../assets/home';

interface Props {
  contactEmail: string;
  donateUrl: string;
  donateText: string;
}

const { donateUrl, donateText } = Astro.props;
---

<div class='bg-[url(/flag-bg.webp)] bg-no-repeat bg-cover bg-center'>
  <div class='py-8 md:py-16'>
    <Container>
      <div
        class='flex flex-col md:flex-row-reverse gap-4 rounded-lg shadow bg-neutral-50'
      >
        <div class={`flex justify-center w-full md:w-1/2`}>
          <Image
            alt='hero'
            src={HomeHeroImage}
            width={960}
            height={1280}
            fetchpriority='high'
            class='rounded-lg'
          />
        </div>

        <div
          class={`w-full md:w-1/2 flex flex-col justify-center gap-6 p-5 lg:p-10`}
        >
          <div class='grid gap-3'>
            <h1>Jacqueline Griffin For Rochester School Board</h1>
            <Text size='text-xl'>
              Join the mission to create a brighter future for our children.
              Like the simple flutter of a butterfly wing our youth can change
              the world!
            </Text>
          </div>

          <div class='w-full md:w-1/2'>
            <Button fluid href={donateUrl}>
              {donateText}
            </Button>
          </div>
        </div>
      </div>
    </Container>
  </div>
</div>
