---
import { BaseLayout } from '../layouts';
import {
  AboutSection,
  HeroSection,
  IssuesSection,
  SocialSection,
} from './_lib/sections';

const contactEmail = import.meta.env.PUBLIC_CONTACT_EMAIL;
const donateText = 'Donate';
const donateUrl = import.meta.env.PUBLIC_DONATE_URL;
---

<BaseLayout title='Home'>
  <div class='h-full'>
    <HeroSection {contactEmail} {donateText} {donateUrl} />
    <IssuesSection />
    <SocialSection />
    <AboutSection />
  </div>
</BaseLayout>
