---
import { BaseLayout } from '../layouts';
import IntroSection from './_intro-section.astro';
import IssuesSection from './_issues-section.astro';
import HeroSection from './_hero-section.astro';

const contactEmail = import.meta.env.PUBLIC_CONTACT_EMAIL;
const donateText = 'Donate';
const donateUrl = import.meta.env.PUBLIC_DONATE_URL;
---

<BaseLayout title='Home'>
  <div class='h-full'>
    <HeroSection {contactEmail} {donateText} {donateUrl} />
    <IntroSection />
    <IssuesSection />
  </div>
</BaseLayout>
