---
import { Image } from '@astrojs/image/components';
import { ArrowRight } from 'svelte-heros-v2';
import { HomeIntroImage } from '$assets/home';
import { Container } from '$components/container';
import { Text } from '$components/text';
import { Link } from '$components/link';
import { Icon } from '$components/icon';
---

<div class='py-8'>
  <Container>
    <div
      class='grid grid-cols-1 md:grid-cols-2 items-center gap-8 p-6 bg-white rounded-lg shadow-md overflow-hidden'
    >
      <div class='w-full'>
        <div class='grid gap-5 p-6 md:p-8'>
          <h2>Jacqueline’s Story.</h2>
          <div class='grid gap-4'>
            <Text>
              As a mom, graduate, and resident in the city of Rochester,
              Jacqueline understands firsthand the importance of quality
              education.
            </Text>
          </div>
          <Link href='/about'>
            Meet Jacqueline
            <Icon icon={ArrowRight} size={20} />
          </Link>
        </div>
      </div>

      <div class='w-full'>
        <Image
          class='rounded-lg'
          alt='hero'
          src={HomeIntroImage}
          width={692}
          height={1384}
        />
      </div>
    </div>
  </Container>
</div>
