---
import { Container } from '$components/container';
import { BaseLayout } from '../../../layouts';
---

<BaseLayout title='About'>
  <section class='py-8 md:py-16'>
    <Container>
      <div class='grid gap-8 text-center'>
        <h1>Thank You!</h1>
        <div class='flex justify-center'>
          <p class='text-lg'>We will be in touch soon!</p>
        </div>
      </div>
    </Container>
  </section>
</BaseLayout>
