---
import { Container } from '$components/container';
import { Icon } from '$components/icon';
import { ArrowRight } from 'svelte-heros-v2';

interface Props {
  announcement: { message: string; action?: { text: string; url: string } };
}

const { announcement } = Astro.props;
const { message, action } = announcement;
---

{
  !!announcement && (
    <div class='w-full py-3 bg-secondary-500 text-white'>
      <Container>
        <div class='relative w-full flex md:flex-row justify-center items-center gap-2'>
          <div class='flex-shink'>
            <p class='text-center lg:text-left text-white'>{message}</p>
          </div>

          {!!action && (
            <div class='flex-shink'>
              <a
                class='inline-flex items-center gap-2 font-semibold'
                href={action.url}
                target='_blank'
              >
                {action.text}
                <Icon icon={ArrowRight} size='md' />
              </a>
            </div>
          )}
        </div>
      </Container>
    </div>
  )
}
