---
interface Props {
  href: string;
  size?: string;
}

const { href, size = 'text-lg' } = Astro.props;
---

<a
  {href}
  class={`inline-flex items-center gap-2 text-accent-500 font-semibold ${size}`}
>
  <slot />
</a>
